<form class="container">
  <h1>Crear Libro</h1>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="requestBody.BookName" name="name" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        name="author"
        [displayWith]="displayFn"
      >
        <mat-option
          *ngFor="let option of filteredAuthorOptions | async"
          [value]="option"
        >
          {{ option.fullName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>ISBN</mat-label>
      <input
        matInput
        [(ngModel)]="requestBody.ISBN"
        name="ISBN"
        maxlength="13"
      />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-radio-group
      color="primary"
      aria-labelledby="radio-group-label"
      [(ngModel)]="requestBody.CategoryId"
      name="radio"
    >
      <mat-radio-button
        class="p-1"
        *ngFor="let category of categories"
        [value]="category.id"
      >
        {{ category.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="form-group">
    <button mat-raised-button color="accent" (click)="HandleSubmit($event)">
      Guardar
    </button>
  </div>
</form>
